# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
/np4d
/np4cli
/bootstrap
go/bootstrap
go/np4cli
go/np4d

# Test binary
*.test

# Go workspace
go.work
go.work.sum

# IDE
.idea/

# OS
.DS_Store
Thumbs.db
